
.displayAllNotes{
    display: flex;
    padding-top: 16px;
    padding-left: 16px;
}
.displayNote{
    display: flex;
     flex-direction: row;
     flex-wrap: wrap;
    //flex-flow: column wrap;
}

.getNotes{
    width: 240px;
    min-height:104px ;
    display: flex;
    margin: 4px;
    flex-direction:column;
    border: 1px solid grayscale($color: #979797);
    border-radius: 8px;
   // position: relative;
    .getIcons{
        //visibility: hidden;
        display: none;
    }
    .pinIcons{
        display: none;
    }

}

.getNotes{
    &:hover {
        border: 1px solid transparent;
        border-radius: 8px;
        box-shadow: 0 1px 2px 0 rgba(60,64,67,0.302), 0 2px 6px 2px rgba(60,64,67,0.149);
        
        .getIcons{
            display: block;
            // position: absolute;
            // bottom: 4px;
            //visibility: visible;
            
        }
        .pinIcons{
            display: block;

        }
        // .getNotes{
        //     border: 1px solid transparent;
        //     border-radius: 8px;
        //     box-shadow: 0 1px 2px 0 rgba(60,64,67,0.302), 0 2px 6px 2px rgba(60,64,67,0.149);
        // }
      }
}
.titleHidden{
    display: flex;
    flex-direction: row;
}
.pinIcons{
    &:hover {
        border: 1px solid transparent;
            border-radius: 50%;
            background-color: rgb(230, 228, 228);
            align-items: center;
            align-content: center;
            opacity: 0.99;
            position: relative;
            padding-top: 5px;
            padding-right: 5px;
            
    }
}

.pinImage{
    width: 22px;
    height: 22px;
    opacity: 0.71;
    padding-right: 4px;
    padding-top: 4px;
    
}
.pinIcons{
    display: flex;
     justify-content: space-between;
  
}
.displayTitle{
    width: 87%;
    min-height: 22px;
    padding: 8px 8px 4px 8px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    word-wrap: break-word;
    word-break: break-all;
    font-size: 14px;
    font-weight: 500;
    opacity: 0.9;
   
}
.discreptionHidden{
    display: flex;
    justify-content: flex-start;
    width: 95%;
    min-height: 0px;
    padding: 2px 8px 4px 16px;
    word-break: break-all;
    max-height:100px;
     overflow: hidden;
    align-items: center;
}
.listContener{
    padding-left: 8px;
}

.dilogBody{
   // margin:32px auto 16px auto ;
   // position: relative;
    width: 100%;
    border: 1px solid transparent;
    border-radius: 8px;
    min-height: 132px;
    box-shadow: 0 1px 2px 0 rgba(60,64,67,0.302), 0 2px 6px 2px rgba(60,64,67,0.149);
    display: flex;
    flex-direction: column;
}
.displayImageContener{
    width: 97%;
    min-height: 0px;
    max-height: 50px;
    // padding: 2px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
   
}
.displayImage{
    width: 32%;
    height: 49%;
    padding:1%;
}
.displayCollaborater{
    width: 95%;
    min-height: 0px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    padding: 8px;
    font-size: smaller;
    overflow: hidden;
}
.collaboraterBody{
    height:23px;
    width: 23px;
    border: 1px solid white;
    /* align-items: center; */
    /* align-content: center; */
    /* justify-content: center; */
    // align-text: c;
    border-radius: 50%;
    text-align: center;
    background-color:gainsboro;
    margin: 1%;
}

@media only screen and (max-width: 500px) {
    .getNotes{
        width: 100%;
    }
     .dilogBody{
        width:295px;
    }
}