.rmainContainer{
    background-color: #fff;
    border: 1px solid #dadce0;
    margin: 100px auto;
    align-items: center;
    height: 430px;
    max-width: 450px;
    border-radius: 8px;
    display: block,
}
.rbuttonContainer{
    display:flex;
    flex-direction: row;
    justify-content:center;
    padding-top: 20px;
}
.text2{
    padding-top: 15px;
}
@media only screen and (max-width: 500px) {
    .rmainContainer{
        border:none;
        margin: 20px auto;
        display: flex;
        justify-content: center;
    }
}