/* .MuiButton-root {
    background-color: green;
    box-shadow: 0 4px 6px rgba(50, 50, 93, 0.11), 0 1px 3px rgba(0, 0, 0, 0.08);
    padding: 7px 14px;
    font-family: 'Courier New', Courier, monospace;
  }
  .MuiButton-root:hover {
    background-color: red;
  }
  .MuiButton-label {
    color: #fff;
  } */
  .MuiDialogContent-root{
    width: 600px;
    min-height:132px ;
    padding: 0px !important;
    overflow: hidden;
  }
  
  .MuiDialogContent-root:first-child{
    padding: 0px;
    padding-top: 0px !important;
  }
  .MuiButton-root{
    font-weight: 550 !important;
    font-family: 'Google Sans',Roboto,Arial,sans-serif !important;
    text-transform: none !important;
    opacity: 0.78;
  }
  @media only screen and (max-width: 500px)
  {
    .MuiDialogContent-root{
      width: 295px;
    }
  }