
.displayAllNotes{
    display: flex;
    padding-top: 16px;
    padding-left: 16px;
}
.displayNote{
    display: flex;
     flex-direction: row;
     flex-wrap: wrap;
    align-items: flex-start;
    justify-content: center;
}

.getNotes{
    width: 240px;
    min-height:104px ;
    display: flex;
    margin: 4px;
    flex-direction:column;
    border: 1px solid grayscale($color: #979797);
    border-radius: 8px;
    position: relative;
    .Iconbody{
         display: none;
    }
    .pin{
        display: none;
    }

}
.getIcons{
    min-height: 32px;
}
.getNotes{
    &:hover {
        border-radius: 8px;
        box-shadow: 0 1px 2px 0 rgba(60,64,67,0.302), 0 2px 6px 2px rgba(60,64,67,0.149);
        
        .Iconbody{
            display: flex;
            flex-direction: row;
        }
        .pin{
            display: block;
        }
      }
}
.pin{
    width: 30px;
    height: 30px;
    position: absolute;
    right: 12px;
    top: 6px;
    &:hover {
            border-radius: 50%;
            background-color: rgb(230, 228, 228);
            align-items: center;
            align-content: center;
            opacity: 0.99;
    }
}
.titleHidden{
    display: flex;
    flex-direction: row;
}


.pinImage{
    width: 22px;
    height: 22px;
    opacity: 0.71;
    padding-top: 4px;
    padding-left: 4px;
    cursor: pointer;
}

.displayTitle{
    width: 87%;
    min-height: 22px;
    padding: 8px 8px 4px 8px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    word-wrap: break-word;
    word-break: break-all;
    font-size: 14px;
    font-weight: 500;
    opacity: 0.9;
   
}
.discreptionHidden{
    display: flex;
    justify-content: flex-start;
    width: 90%;
    min-height: 0px;
    padding: 2px 16px 4px 16px;
    word-break: break-all;
    max-height:100px;
     overflow: hidden;
    align-items: center;
    text-overflow: ellipsis;
}

.listContenercheked{
    padding-left: 8px;
    text-decoration: line-through;
}
.listContener{
    padding-left: 8px;
    
}
.dilogBody{
    width: 100%;
    border: 1px solid transparent;
    border-radius: 8px;
    min-height: 132px;
    box-shadow: 0 1px 2px 0 rgba(60,64,67,0.302), 0 2px 6px 2px rgba(60,64,67,0.149);
    display: flex;
    flex-direction: column;
}
.displayImageContener{
    width: 100%;
    min-height: 0px;
    max-height: 166px;
    display: flex;
    
   
}
.displayImageUpdate{
    width: 100%;
    min-height: 0px;
    position: relative;
}
.deleteIcon{
    position: absolute;
    bottom: 12px;
    right: 12px;
    cursor: pointer;
}
.updatedisplayImage{
    width: 100%;
}
.displayImage{
    width: 100%;
    height: 99%;
    border-radius: 8px;
}
.displayCollaborater{
    width: 95%;
    min-height: 0px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    padding-left: 8px;
    padding-right: 8px;
    font-size: smaller;
    overflow: hidden;
}
.collaboraterBody{
    height:23px;
    width: 23px;
    border: 1px solid white;
    border-radius: 50%;
    text-align: center;
    background-color:gainsboro;
    margin: 1%;
}

@media only screen and (max-width: 500px) {
    .getNotes{
        width: 100%;
    }
     .dilogBody{
        width:100%x;
    }
}